.profile-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  cursor: pointer;
}

.profile-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.profile-toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a3f41;
  transition: 300ms;
  border-radius: 26px;
}

.profile-toggle__slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 300ms;
  border-radius: 50%;
}

.profile-toggle input:checked + .profile-toggle__slider {
  background-color: #e83b41;
}

.profile-toggle input:checked + .profile-toggle__slider:before {
  transform: translateX(24px);
}



